.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.topnav {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.2rem solid;
  border-bottom-color: cadetblue;
}

.topnav ul {
  float: right;
  color: #000000;
  text-align: center;
  padding: 0 2rem;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}

.hotdog-container {
  display: inline-table;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  max-width: 25rem;
  border-style: solid;
  border-width: 1px;
}
.imager {
  position: relative;
  width: auto;
}
.oneimage {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btns {
display: flex;
justify-content: center;
background-color: antiquewhite;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.btn{
  background-color: transparent;
  border: none;
  outline:none; 
}
.hotdogname
{
  font-size: 32;
  font-weight: bold;
}
.flexcenter {
  display: flex;
  justify-content: center;
}
.form {
  margin: 0.5rem;
  border-style: solid;
  width: 90%;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  outline:none;
  padding: 6px;
}
.formmodal {
  margin: 0.5rem;
  border-style: solid;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #ccc;
  outline:none;
  padding: 6px;
}
.modalbtn
{
  background-color: black;
  color: white;
margin: 0.2rem;
  padding: 0.5rem;
  border-radius: 2px;
  outline: 1;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
}
.modalbtns :hover {
  background-color: green;
}